# Ignore vendor and node modules
/vendor
/node_modules

# Ignore environment and secret files
.env
.env.*
/storage/*.key

# Ignore git and docker junk
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

# Ignore IDE/editor settings
.idea
.vscode

# Ignore miscellaneous files
README.md
npm-debug.log
yarn-error.log
